<div class="dropdown" style="float:right;">
  <button class="dropbtn">Categories</button>
  <div class="dropdown-content">
    <% @categories.each do |category| %>
        <%= link_to category.category_name, book_show_by_category_path(1, category_id: category.id), remote: true  %>
    <% end %>
  </div>
</div>

<div class="amado_product_area">
  <div class="container-fluid" id="show-by-category">
    <%= render "show_by_category" %>
  </div>
</div>
